<div class="container">

    <div class="jumbotron">
        <h3>Contact Us</h3>
        <h4>Are you a customer who needs help?</h4>
        <p>If you're wondering about an order, our products, or our website, shoot them an email at grocery@shop.com or check out the Help Section</p>
        <hr class="my-4">
        <h4>For everything else...</h4>
        <p>HQ Address: 233 Spring Street, East 10th Floor, Mumbai, 10013, MH</p>
        <p>Emial:help@groceryshop.com</p>
        <p>Contact:9850365947|7859632140</p>

        
      </div>
</div>
