<!-- <div class="main">
    <h1>Admin SignIn</h1>
    
    <div class="item-icon">
       <div class="icon">
        </div><input type="text" [(ngModel)]="email" placeholder="Email">
    </div>
    <br />
    <div class="item-icon">
       <div class="icon">
        </div><input type="password" [(ngModel)]="password" placeholder="Password">
    </div>
    <br />
    <div>
        <button (click)="signIn()" >SignIn</button>
    </div>
</div> -->


<div class="container">
  <form class="custom-centered p-4 border">
    <h2 align="center">Admin SignIn</h2>
    <div class="mb-3">
      <label for="inputEmail" class="form-label">Email</label>
      <input type="email" class="form-control" [(ngModel)]="email" name="email" id="inputEmail">
    </div>
    <div class="mb-3">
      <label for="inputPassword" class="form-label">Password</label>
      <input type="password" class="form-control" [(ngModel)]="password" name="password" id="inputPassword">
    </div>

    <button (click)="signIn()" class="btn btn-primary">Sign In</button>
  
  </form>

</div>
