<div class="container">

    <div class="jumbotron">
        <img src="https://coursework.vschool.io/content/images/size/w2000/2016/03/banner-grocery-store.jpg" class="img-fluid" alt="Responsive image">
        <br>
        <h3>Welcome, Grocery Shop</h3>
        <p class="lead">Online grocery shopping is a way of buying food and other household necessities using a web-based shopping service. There are two basic methods that people can use to purchase these items online. One is to order them from a local grocery store that participates in online shopping.</p>
        <hr class="my-4">
        
      </div>
</div>
